<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IsoTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Metaflow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IsoTrack.Properties.Settings>
            <setting name="Mass_Accuracy" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RTError" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="C13_to_Check" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MinRTWidth" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="IntensityThreshold" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Commons" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxRTWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinIntensity" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="BaselineRatio" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Out_dbfile" serializeAs="String">
                <value />
            </setting>
            <setting name="FileList" serializeAs="String">
                <value />
            </setting>
            <setting name="Processes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gap_Scans_Max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutTargets" serializeAs="String">
                <value />
            </setting>
        </IsoTrack.Properties.Settings>
        <Metaflow.Properties.Settings>
            <setting name="Mass_Accuracy" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RTError" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="C13_to_Check" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="N15_to_Check" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Task" serializeAs="String">
                <value>Targeted Analysis</value>
            </setting>
            <setting name="Profile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinRTWidth" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="C13Only" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntensityThreshold" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Commons" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectivityThreshold" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PeakMinWidth" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="PeakMaxWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinIntensity" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="BaselineRatio" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="MySQLConnString" serializeAs="String">
                <value>server=charon.cmm.ki.se;password=lab;user id=lab;database=Metabolism</value>
            </setting>
            <setting name="Out_dbfile" serializeAs="String">
                <value />
            </setting>
            <setting name="WriteTexts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutStandards" serializeAs="String">
                <value />
            </setting>
            <setting name="StandardsReport" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetList" serializeAs="String">
                <value />
            </setting>
            <setting name="FileList" serializeAs="String">
                <value />
            </setting>
            <setting name="Standards_List" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreRT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Processes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeaksOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Adducts" serializeAs="String">
                <value>H+; H-;</value>
            </setting>
            <setting name="ArbMainTrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Low_signals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Gap_Scans_Max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackFilling" serializeAs="String">
                <value>False</value>
            </setting>
        </Metaflow.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
