<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Inspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Metaflow_Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Inspector.Properties.Settings>
            <setting name="Metaflow_Reports_se_cmm_ad_charon_WebServiceSample"
                serializeAs="String">
                <value>http://localhost:3980/Service.asmx</value>
            </setting>
            <setting name="CacheMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MZDev" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RTMargins" serializeAs="String">
                <value>1.0</value>
            </setting>
        </Inspector.Properties.Settings>
        <Metaflow_Reports.Properties.Settings>
            <setting name="Metaflow_Reports_se_cmm_ad_charon_WebServiceSample"
                serializeAs="String">
                <value>http://charon.ad.cmm.se:6060/DevRawFileAccess/MSDataService.asmx</value>
            </setting>
        </Metaflow_Reports.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <Inspector.Properties.Settings>
            <setting name="MRUList" serializeAs="String">
                <value />
            </setting>
        </Inspector.Properties.Settings>
    </userSettings>
</configuration>
